.header{
    background-color: #1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 112px;
    padding-right:120px;
}
.header a{
  color:#FFFFFF;
  text-decoration: none;
  margin-left: 36px;
  font-size: 17px;
  line-height: 20px;
}
.header a:hover{
    color: orange;
}